.image-grid {
    padding: 0 3rem;
}
.image-grid h2 {
    color: rgb(73, 85, 96);
    font-family: "Arvo";
    font-size: 1.5rem;
    font-style: italic;
    font-weight: normal;
}
.image-grid .row {
    max-width: 100%;
    margin-bottom: 1rem;
}
.image-grid .columns {
    padding-left: 0;
}

.image-grid .image a {
    border-radius: .5rem .5rem 0 0;
    /* max-height: 15rem; */
    /* min-height: 15rem; */
    display: block;
    min-width: 100%;
    overflow: hidden;
}
.image-grid .image .info {
    background-color: #fff;
    border-bottom: 2px solid;
    border-bottom-color: rgb(123, 136, 149);
    border-radius: 0 0 .5rem .5rem;
    padding: 1rem;

}
.image-grid .image .info .attribution {
    color: rgb(73, 85, 96);
    font-family: "Ubuntu";
    font-size: 0.95rem;
}
.image-grid .image .info .attribution b {
    display: block;
    font-weight: 500;
}
.image-grid .image .info .avatar {
    border-radius: 50%;
    float: left;
    height: 50px;
    margin-right: 1rem;
    width: 50px;
    // background: url("../img/sprites.png") no-repeat;
}



.avatar1, .avatar2, .avatar3, .avatar5, .avatar6, .avatar7{
	background: url("../img/avatars/sprites.png") no-repeat;
  display: inline-block;
}



.avatar1{
	background-position: 0 0;
	width: 50px;
	height: 50px;
}

.avatar2{
	background-position: -54px 0;
	width: 50px;
	height: 50px;
}

.avatar3{
	background-position: 0 -56px ;
	width: 50px;
	height: 50px;
}

.avatar5{
	background-position: -54px -112px ;
	width: 50px;
	height: 50px;
}

.avatar7{
	background-position: 0 -112px ;
	width: 50px;
	height: 50px;
}

.avatar7{
	background-position: -54px -56px ;
	width: 50px;
	height: 50px;
}

.avatar6modal, .avatar5modal, .avatar7modal, .avatar1modal, .avatar3modal, .avatar2modal{
	background: url("../img/avatars/spritesmodal.png") no-repeat;
}

.avatar6modal{
	background-position: -85px 0;
	width: 75px;
	height: 75px;
}

.avatar5modal{
	background-position: -85px -162px ;
	width: 75px;
	height: 75px;
}

.avatar7modal{
	background-position: 0 -80px ;
	width: 75px;
	height: 75px;
}

.avatar1modal{
	background-position: -1px -162px ;
	width: 75px;
	height: 75px;
}

.avatar3modal{
	background-position: 0 0;
	width: 75px;
	height: 75px;
}

.avatar2modal{
	background-position: -86px -81px ;
	width: 75px;
	height: 75px;
}
