.avatar1, .avatar2, .avatar3, .avatar4, .avatar5, .avatar6, .avatar7{
	background: url(../../../img/avatars/sprites.png) no-repeat;
}

.avatar1{
	background-position: -9px -7px ;
	width: 90px;
	height: 90px;
}

.avatar2{
	background-position: -159px -16px ;
	width: 90px;
	height: 90px;
	display: inline-block;
}

.avatar3{
	background-position: -285px -11px ;
	width: 90px;
	height: 90px;
	display: inline-block;
}

.avatar4{
	background-position: -200px -140px ;
	width: 90px;
	height: 90px;
	display: inline-block;
}

.avatar5{
	background-position: -356px -107px ;
	width: 90px;
	height: 90px;
	display: inline-block;
}

.avatar6{
	background-position: -183px -248px ;
	width: 90px;
	height: 90px;
	display: inline-block;
}

.avatar7{
	background-position: 0 -142px ;
	width: 90px;
	height: 90px;
	display: inline-block;
}
